@model PicassoWeb.Models.PromoBanco
@{
    ViewBag.Title = "Detalles de Sucursal";
    Layout = null;
}
<div class="row listadoProductos">
<div class="row">
            <div class="large-3 columns">
                <img src="@Model.Banco.Imagen" alt="Banco" />
            </div>
            <div class="large-9 columns centered descuento_descripcion">
                <button title="Cerrar (Esc)" type="button" class="mfp-close">×</button>
                   @Model.Descripcion
            </div>
            <br />                        
            <div class="large-9 columns left">
                <p>@Model.CondicionesLegales</p>
            </div>
</div>
