@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    }
<div class="row">
<div id="FailImage" class="large-12 columns center">
Error 403
Prohibido. >:
</div>
</div>
<div class="row">
<a href="../Home/Index"> Volver</a>
</div>

<script type="text/javascript">
    $.getJSON('http://api.giphy.com/v1/gifs/search?q=forbidden&api_key=dc6zaTOxFJmzC&limit=50', function (data) {
        var randInt = Math.round(Math.abs((Math.random() * (1 - 50) + 1))).toString();
        $("#FailImage").append("<img src='" + data.data[randInt].images.fixed_width.url + "'\/> </img>")
    });
</script>

 