@model PicassoWeb.Models.Producto
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<div class="large-12 columns rigth">
    <div class="section-container auto" data-section>
        <section>
                <p class="title" data-section-title><a href="#p1">Generales</a></p>
                <div class="content" data-section-content>
                @using (Html.BeginForm("Create", "Producto",FormMethod.Post, new { @class = "custom" })) {
    @Html.ValidationSummary(true)

                        @Html.Partial("_CreateOrEdit", Model)
                        <p>
                            <input type="submit" value="Crear" />
                        </p>
                }
                </div>
            </section>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>