@model PicassoWeb.Models.Producto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Borrar</h2>

<h3>Seguro que desea borrar este registro?</h3>
<fieldset>
    <legend>Producto</legend>

    <div class="display-label">descripcion</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">imagen</div>
    <div class="display-field">@Model.Imagen</div>

    <div class="display-label">atributos</div>
    <div class="display-field">@(Model.Atributos == null ? "None" : Model.Atributos.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class="button" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}


