@model IEnumerable<PicassoWeb.Models.AtributosProducto>
@{
    Layout = null; ViewBag.Title = "Create"; 
}
<table>
    <tbody id="atributosTbl">
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Atributo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
          
        }
    </tbody>
</table>
