/* Created by http://freehtml5templates.com */

/* reset */
/*
* {
margin: 0;
padding: 0;
}
*/
/* render html5 elements as block */
/*header, footer, section, aside, nav, article {
display: block;
}
*/
/*body {
line-height: 1;
font-family: 'Arial bold', sans-serif;
font-size: 12px;
font-style:italic;
}*/

/* layout */

#wrapper {
width: 960px;
margin: 0 auto;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FCF7), to(#BEDEAF));
background: -moz-linear-gradient(top, #F9FCF7 0%, #BEDEAF 100%);
border: 2px solid #333;
/* curved border radius */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

/* fpaz: modificado 25/11/2013 porque aumentaba el tamaño del header en las secciones "La Empresa" y "Divisiones"
header {
margin-top: 10px;
}
*/

#main {
margin: 0 auto;
font-size: 16px;
line-height: 1.2em;
}

footer {
padding: 0 20px;
color: #333;
clear: both;
margin: 40px 10px 0 10px;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
}

a {
color:#555;
}

a:hover {
color: #555;
}
	
p {
margin-bottom: 18px;
font-size:12px;
font-style:italic;
}

li {
padding-left: 5px;
}



/* nav */

nav .menu {
width: 940px;
font-size: 16px;
font-weight: bold;
}

nav .menu ul {
list-style: none;
margin: 0;
text-align: center;
}

nav .menu ul li {
display: inline;
position: relative;
}

nav .menu ul li a {
border-right: 1px #555 solid;
color: #555;
padding: 0 15px;
line-height: 38px;
text-decoration: none;
}

nav .menu ul li a:hover {
text-decoration: underline;
}

/* header */


header h1 {
margin-bottom:0px;
font-size: 36px;
margin-left: 0px;
float: left;
width: 600px;
}

header h1 a {
color: #1E469B;
font-weight: bold;
text-decoration: none;
text-shadow: 0px 2px 3px #777;
}

header h2 {
float: left;
clear: right;
margin-top:0px;
margin-right: 10px;
color: #777;
padding-top: 0px;
}

/* greeting */

#greeting {
padding-top: 20px;
}

#greeting h2 {
display: inline;
font-size: 20px;
color: #1E469B;
}

#greeting p {
font-size: 14px;
}

#greeting img {
border: none;
/* curved border radius */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

.learnmore {
display: block;
background-color: #1E469B;
padding: 5px 10px;
float: left;
/* curved border radius */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.learnmore a {
color: #ddd;
font-size: 16px;
font-weight: bold;
text-decoration: none;
}

/* main content */

#main {
margin: 0 0px;
}

#main h1, h2, h3, h4, h5, h6 {
margin: 0 0 0px 0;
line-height: 1.5em;
}

#main h3 {
border-bottom: 1px #555 solid;
font-size: 20px;
}

#infoboxes {
margin: 30px 0;
}

#infoboxleft {
float: left;
width: 230px;
}

#infoboxmid {
float: left;
width: 250px;
margin-left: 20px;
}

#infoboxright {
float: left;
width: 230px;
margin-left: 20px;
border:orange;
}

blockquote {
padding-left: 40px;
background: transparent url(images/openquotes.png) no-repeat;
font-style: italic;
}

#contentsummary {
margin-top: 20px;
float: left;
width: 940px;
}

.alignleft,
img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright,
img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter,
img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* footer */

footer p {
text-align: right;
padding-right: 20px;
}

.clearall {
clear: both;
}