@model PicassoWeb.Models.Categoria

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Borrar</h2>

<h3>Seguro que desea borrar este registro?</h3>
<fieldset>
    <legend>Categoria</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">Productos</div>
    <div class="display-field">@(Model.Productos == null ? "None" : Model.Productos.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class="button" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}


