<link rel="stylesheet" href="~/Content/footer.css" type="text/css" />
<div id="widget-wrap"  class="group">
    <div id="widget">
        <div id="links" class="group">
            <h4 class="white">
                Other <strong>Links</strong></h4>
            <ul>
                <li><a href="#">www.example.com</a></li>
                <li><a href="http://www.1stwebdesigner.com">www.1stwebdesigner.com</a></li>
                <li><a href="http://www.labzip.com">www.labzip.com</a></li>
                <li><a href="#">www.samplelink.com</a></li>
                <li><a href="#">www.outgoinglink.com</a></li>
                <li><a href="#">www.link.com</a></li>
            </ul>
        </div>
        <div id="blog">
            <h4 class="footer-header white">
                Latest From The <strong>Blog</strong></h4>
            <img src="~/images/face.png" alt="blog" height="150" width="150">
            <p class="title">
                Maecenas iaculis lorem vel dui vulputate non consequat mi congue.</p>
            <p class="date">
                05.30.2012</p>
            <p>
                <a href="#" class="readmore">read more</a></p>
        </div>
        <!-- end blog -->
        <div id="location">
            <h4 class="footer-header white">
                Our <strong>Location</strong></h4>
            <img src="~/images/mapa.png" alt="map">
            <p class="address">
                123 unknown street, address
                <br>
                8600 Philippnes</p>
        </div>
        <!-- end location -->
    </div>
    <!-- end widget -->    
</div>
