<!-- rsanch: Imagen del footer movida una row mas arriba para que no se muevan los links y agrego opacity -->
<div class="row">
    <hr width="100%" />
</div>
<!---------------------->
<div id="footer-degrade">
    <div class="row">
        <div class="large-12 columns">
            <div class="large-5 columns">
                <!-- rsanch: Agrego fb likebox. -->
                @if (ViewBag.esHome == true)
                {
                    <div class="large-4 columns left">
                        <h4 class="footer-header white">
                        </h4>
                        <div class="fb-like-box" data-href="http://www.facebook.com/picassopintureria" data-colorscheme="light"
                            data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
                        </div>
                    </div>
                } else {
                    <img src="@ViewBag.imagenFooter" alt="footer img" style="opacity:0.4;" />
                }
                <!-- end face -->
            </div>
            <div class="large-7 columns">
                <div class="large-4 columns" id="fuentes-final">
                    @Html.MvcSiteMap().SiteMap()
                </div>
                <div class="large-5 columns" id="fuentes-final">
                    <ul>
                        <li><a href="/Home/Divisiones#DivisionHogar">- Division Hogar</a></li>
                        <li><a href="/Home/Divisiones#DivisionEmpresas">- Division Empresas</a></li>
                        <li><a href="/Home/Divisiones#DivisionMayoristas">- Division Mayoristas</a></li>
                        <li><a href="/Home/Divisiones#DivisionProfesional">- Division Profesional</a></li>
                    </ul>
                </div>
                <div class="large-3 columns">
                    <img src="../../Images/PicasoQR.png" width="200" height="200">
                </div>
            </div>
        </div>
    </div>
</div>
<!--linea Inferior-->
<div class="large-12 columns" id="footer-final">
    <div class="large-8 columns">
        <p>
            Desarrollado por: <a target="_blank" href="mailto:overcodesde@gmail.com">OverCode</a></p>
        <!--iafar:Nuestra direccion de portfolio-->
    </div>
    <div class="large-4 columns">
        <strong class="logo"><a href="#">Pintureria Picasso</a></strong><!--Iafar:se muestra logo Picasso-->
        <p>
            <!--iafar: Aqui se agregara codigoQR-->
            Pintureria Picasso® es una marca de Argentina.<br />
        </p>
    </div>
</div>
<!--iafar:Esto solamente se debe mostrar en el Home-->
<div id="fb-root">
</div>
<!-- rsanch: scripts para fb likebox. -->
<script type="text/jscript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=126094964099484";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>
