<header>
        <!-- fpaz:seccion para completar con la estructura y elementos del header -->
        <!-- Header--> 
            <div class="row">
                <div class="large-3 columns left">
                    <ul class="button-group right ">               
                        <!-- rsanch: cambio tamaño del logo 75 % por que en firefox se veia muy grande -->                                
                        <li><img src="@Url.Content("~/Images/LogoPicasso.png")" style="width: 75%; height: 75%" alt="Picasso Pinturerias Logo"></li><!-- rsanch: cambio para usar url.content -->
                    </ul>
                </div>                           
            </div> 
        <!-- End Header-->
</header>
<!-- End Header  -->
