@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <h1 class="error">Error.</h1>
    <h2 class="error"></h2>
</div>
<div class="row">
<a href="../Home/Index"> Volver</a>
</div>