@model PicassoWeb.Models.Sucursal

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Nuevo</h2>

@using (Html.BeginForm("Create", "Sucursal", FormMethod.Post, new { @class = "custom", @enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)


		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Crear" class ="button"/>
        </p>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>


