@model PicassoWeb.Models.Atributo

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Nuevo</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Atributo</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Crear" class ="button"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>


