@model PicassoWeb.Models.Atributo

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Atributo</legend>

    <div class="display-label">nombre</div>
    <div class="display-field">@Model.nombre</div>

    <div class="display-label">productos</div>
    <div class="display-field">@(Model.productos == null ? "None" : Model.productos.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


