@model PicassoWeb.Models.Banco

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Banco</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">Imagen</div>
    <div class="display-field">@Model.Imagen</div>

    <div class="display-label">PromosBanco</div>
    <div class="display-field">@(Model.PromosBanco == null ? "None" : Model.PromosBanco.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


