<div class="row">
        <div class="contenido large-12 columns">
            <div class="row">
     <div class="large-4 columns left">
               <img src="http://renfrowpainting.com/wp-content/uploads/interior_painting_company.jpg" alt="Division Empresa">
         </div>
        <div class="large-8 columns left">          
           <h3>
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">Division Empresa </span>
           </h3>
            <p><i>
                                Mediante este canal  hemos  desarrollado un servicio especial  destinado a satisfacer los diferentes requerimientos de Grandes y Medianas Empresas.
Ofrecemos atención personalizada a este segmento de mercado, conformado por empresas de todo tipo que tengan una necesidad de pintura recurrente: Grandes Constructoras, Aplicadores de Pintura, Estudios de Arquitectura, Industrias, entre otras. 
                </i>                
                </p>
                <p><strong>Ofrecemos</strong> </p>                        
                <ul>
                    <li>Vendedores especializados</li>
                    <li>Posibilidad de realizar los pedidos via telefono, e-mail o fax</li>
                    <li>Asesoramiento, visita y entrega de muestras en Obra</li>
                    <li>La más amplia variedad</li>
                    <li>Disponibilidad de gran variedad de marcas del mercado</li>
                    <li>Los precios más competitivos </li>
                </ul>
                <ul>
                    <li>Múltiples opciones de pago</li>
                    <li>Asesoramiento de tendencias de color</li>
                    <li>Servicio Técnico gratuito.</li>
                    <li>La más amplia variedad</li>
                    <li>Posibilidad de realizar acopios</li>                    
                </ul>
        </div>       
     </div> 
        </div>
</div>
