<link rel="stylesheet" href="~/Content/OrgStyle.css" type="text/css" />
<div class="row">
        <div class="contenido large-12 columns">
            <div class="row">
            <div class="large-8 columns left">          
           <h3>
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">Division Hogar </span>
           </h3>
            <p><i>
            
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie ullamcorper fringilla. Quisque adipiscing posuere suscipit. Nulla ullamcorper lorem sed nisi dignissim, sed auctor tortor rutrum. Sed in dapibus purus. Sed nec urna sed erat lobortis interdum. Sed lobortis, nisi quis dapibus condimentum, lorem nisi tempus magna, vel dignissim diam eros ac risus. Aliquam auctor cursus ligula, sed facilisis felis eleifend et. Aenean id sem vel eros viverra luctus vel vitae quam. Phasellus in iaculis orci. Aenean vestibulum dolor ipsum.

Maecenas pharetra ullamcorper justo, a semper mauris. Integer vitae convallis lorem. Nullam dolor neque, varius eu justo et, semper aliquet tellus. Proin at ipsum tincidunt, porta lectus a, elementum nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum consequat ligula, at condimentum est volutpat tincidunt. Vivamus feugiat sapien purus, at vehicula felis porta quis. Quisque eget tincidunt dolor. Nulla malesuada, metus nec convallis condimentum, orci metus iaculis felis, non convallis mauris tellus quis risus. Curabitur eu sapien lacus. Quisque tempor egestas porttitor. Duis ultricies hendrerit metus, sed imperdiet sapien porttitor at. Quisque interdum aliquet ipsum, et luctus dolor pharetra sit amet. Vestibulum orci dolor, vestibulum ac odio sed, vulputate feugiat urna. Vivamus in quam iaculis, pretium tellus sagittis, porta felis.

Nunc ornare mi vitae molestie aliquet. Phasellus id urna ac ante sollicitudin hendrerit. Proin nec nunc libero. Maecenas rhoncus, risus eu tristique consectetur, tellus ligula suscipit leo, blandit ultrices turpis eros quis nunc. Proin non bibendum odio. Quisque ultrices malesuada elit, sed consequat enim tempor quis. Nam facilisis, mi ut ullamcorper auctor, lacus augue elementum elit, ut elementum quam sem ac ligula. Phasellus pretium nec neque id ullamcorper. Etiam fermentum metus id euismod pulvinar. Donec ornare iaculis commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend ac nisi non vestibulum. Mauris ac dignissim justo, in ultrices nibh. Cras vitae hendrerit dui. In hac habitasse platea dictumst. Quisque pellentesque quis lectus ut gravida.

Fusce sed purus in lectus volutpat aliquet. Phasellus semper diam ut dapibus sodales. Proin ac magna lacus. Sed ut velit sapien. Proin et leo accumsan, ultrices lectus in, dictum metus. Proin nunc nisi, dapibus eget blandit id, fermentum eget ligula. Sed iaculis, nibh sed egestas ultricies, tortor arcu ullamcorper diam, eget egestas turpis nisl at arcu. Vivamus varius egestas mauris sed dictum.
                </i>             
                </p>                        
                
            </div>
                <div class="large-4 columns">
                    <img src="http://www.yellowmoxie.com/blog/wp-content/uploads/2012/06/family-painting.jpg" alt="Division Hogar" >
                </div>
            </div>    
        </div>
</div>
