<div class="row">
        <div class="contenido large-12 columns">
                 <div class="row">
            <div class="large-8 columns left">          
           <h3>
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">Division Mayorista</span>
           </h3>
            <p><i>
                Mediante este canal ofrecemos un servicio especializado de venta  con el propósito  de brindar asesoramiento integral  tendiente a lograr que cada uno de nuestos clientes comercialice los producto necesarios de acuerdo a su rubro, zona, mercado de influencia, etc , brindando capacitación adecuada y permanente actualización a los comercios del rubro: ferretería, corralones, pinturerías, entre otros
                </i>
                <a href="#" data-reveal-id="mayorista" class="subtitulosDetalleProductos" >VER MAS...</a>                
                </p>                        
                <p><strong>Ofrecemos</strong></p>
                <ul>
                    <li>Variedad de marcas y productos</li>
                    <li>Posibilidad de realizar los pedidos via telefono, e-mail o fax</li>
                    <li>Precios de Fabrica</li>
                    <li>Rápida Entrega</li>
                    <li>El mas amplio stock del mercado</li>                    
                </ul>
    </div>         
    </div>
        </div>
</div>
