@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<link rel="stylesheet" href="~/Content/OrgStyle.css" type="text/css" />

<div class="row">
    <p> </p>
</div>
<div class="row">
<div class="clearall">
    </div>    
    <div class="large-8 columns left">          
           <h3>                
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">La Solución En Colores</span>
           </h3>
           <div class="row">                
                <div class="large-5 columns left">                  
                    <p> 
                        <i>Desde nuestros inicios en el año 2004 buscamos desarrollar nuestro principal valor “PRIMERO EL CLIENTE”, direccionando nuestro esfuerzo para brindar la más amplia variedad de productos de primeras marcas, con la implementación de sistemas tintomètricos en cada una de nuestras sucursales ofreciendo la posibilidad de acceder a <strong>m&aacute;s de 10.000 colores diferentes</strong></i>
                     </p>          
                </div>
                <div class="large-7 columns ">
                    <img src="../../Images/paint%20cans.jpg" alt="img" />
                </div>
            </div>           
    </div>

    <div class="large-4 columns right">
        <div class="clearall">
        </div>
        <section id="infoboxes">  
            <article id="infoboxright">
                <h3>
                   <span class="subtitulosDetalleProductos">Su Opinión Nos Interesa </span></h3>
                <blockquote>
                    <p>
                        Sit id utroque antiopam aliquando, mazim fierent ex usu, at est latine aliquam incorrupte.
                        Fugit utamur verterem ei vim. Utinam efficiendi at eam.
                        <br>
                        <b>John Doe - ABC Company</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam.
                        <br>
                        <b>Jane Doe - CEO, XYZ Inc.</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Sit id utroque antiopam aliquando, mazim fierent ex usu, at est latine aliquam incorrupte.
                        Fugit utamur verterem ei vim. Utinam efficiendi at eam.
                        <br>
                        <b>John Doe - ABC Company</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam.
                        <br>
                        <b>Jane Doe - CEO, XYZ Inc.</b></p>
                </blockquote>
            </article>
        </section>
    </div>
    
    <div class="large-8 columns left">
        <p> </p>
    </div>
    <div class="large-8 columns left">
        <div class="large-6 columns left">
        <img src="~/images/empresa.jpg" alt="fotoEmpresa">
        </div>
        <div class="large-6 columns">
                 <h3>
                    <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                    <span class="titulosInfoPagina">Quienes Somos</span>                
                </h3>

                <p>
                    <strong>Pintureria Picasso</strong> <i>, se enorgullece de ser una empresa insignia de la provincia de Santiago del Estero, buscando con nuestro crecimiento lograr una mejor calidad de servicio y atención hacia nuestros clientes, ofreciendo productos de la más alta calidad al alcance de ellos.</i>
                    </p>
        </div>
    </div>     
    
    <div class="large-8 columns left">
        <p></p>
    </div>
        <div class="large-8 columns left">
            <h3>
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">PINTA, PINTA, PINTA… ♪♪♪♫♫♫</span>                

            </h3>

            <div class="row">
                <div class="large-5 columns left">
                    <p>
                Logramos todo esto con alianzas estratégicas  tendientes a alcanzar <strong>MEJOR CALIDA, EL MEJOR PRECIO y  LA MEJOR FINANCIACION</strong> acompañando fundamentalmente con <strong>MEJOR ATENCION</strong> la que se hace posible gracias al  <strong> EQUIPO DE TRABAJO </strong> que forma parte nuestra empresa.</p>
            <p>
                POR TODOS ESTO LES DECIMOS GRACIAS POR SEGUIR CONFIANDO EN NOSOTROS</p>
                </div>

                <div class="large-7 columns">
                    <img src="../../Images/how-to-hire-a-professional-house-painting-company-1024x682.jpg" alt="img" />            
                </div>
                
            </div>
        </div>
</div>

