@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<link rel="stylesheet" href="~/Content/OrgStyle.css" type="text/css" />

<div class="row">
<div class="clearall">
    </div>
    <div class="large-8 columns left">          
           <h3>                

                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">Ayudando A Dar Vida A Sus Colores</span>
           </h3>
            <p>
  <i>
                Todo comenzó en 1979, cuando Juan, el mayor de tres hermanos, decidió apartarse
                de la tradición familiar y abandonó el negocio de confección y venta de ropa de
                cuero que llevaba su padre. Poco tiempo después, junto con sus hermanos Arturo y
                Daniel, hizo crecer el sueño de un emprendimiento diferente… En el proyecto fue
                invalorable la ayuda familiar: el apoyo incondicional, la experiencia comercial
                y la confianza sustentaron Pinturerías Picasso, una idea que no dejó de crecer en
                ningún momento.<a href="#">Duis sagittis ipsum</a>. Ei est delicata philosophia,
                quo id evertitur temporibus. Et ullum pertinax pri, elit regione ei mel, eam at
                mutat lorem. Ad mea omittam mediocrem tincidunt. Quo inani possim senserit no, doctus
    intellegam ut quo.</i></p>        
    </div>

    <div class="large-4 columns right">
        <div class="clearall">
        </div>
        <section id="infoboxes">          
      
            <article id="infoboxright">
                <h3>
                   <span class="subtitulosDetalleProductos">Su Opinión Nos Interesa </span></h3>
                <blockquote>
                    <p>
                        Sit id utroque antiopam aliquando, mazim fierent ex usu, at est latine aliquam incorrupte.
                        Fugit utamur verterem ei vim. Utinam efficiendi at eam.
                        <br>
                        <b>John Doe - ABC Company</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam.
                        <br>
                        <b>Jane Doe - CEO, XYZ Inc.</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Sit id utroque antiopam aliquando, mazim fierent ex usu, at est latine aliquam incorrupte.
                        Fugit utamur verterem ei vim. Utinam efficiendi at eam.
                        <br>
                        <b>John Doe - ABC Company</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam.
                        <br>
                        <b>Jane Doe - CEO, XYZ Inc.</b></p>
                </blockquote>
            </article>
        </section>
    </div>
    
    <div class="large-8 columns left">
        <div class="large-4 columns left">
        <img src="~/images/empresa.jpg" alt="fotoEmpresa">
        </div>
        <div class="large-8 columns">
                 <h3>


                    <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                    <span class="titulosInfoPagina">Quienes Somos</span>                
                </h3>

                <p>
                    <strong>Pintureria Picasso</strong> <i>exhibe con orgullo una cualidad que solamente
                    los años de la mejor respuesta a las necesidades de los usuarios pueden otorgar:
                    ser un verdadero sinónimo de la mejor pintura.</i></p>
                <p><i>
                    Prestigio en marcas, liderazgo en los principales segmentos del mercado, actitud
                    innovadora, tecnología internacional, fuerza de ventas y distribución en todo el
                    país y un servicio altamente capacitado, son algunas de las claves que convierten
                    a PICASSO en la empresa de pinturas más completa y moderna de la Argentina.</i></p>
        </div>
    </div>     



    
        <div class="large-8 columns left">

            <h3>
                <img src="../../Images/Slider/gotas_picasso.png" class="logoSubtitulos" alt="LogoSubs" />
                <span class="titulosInfoPagina">Venga A Nuestros Locales Para Ver La Diferencia</span>                

            </h3>
            <p>
                Vero tractatos vix in, vel eligendi ocurreret ei. Ea vis scripta voluptatum concludaturque,
                vis id omnis mollis moderatius. Ius ei volumus detracto accusamus. Inermis tibique
                mel ne. Decore everti viderer per cu. Porro ludus soleat sea at, eum eu ridens ponderum.
                Ad mea omittam mediocrem tincidunt. Quo inani possim senserit no, doctus intellegam
                ut quo.</p>
            <p>
                Ius ei volumus detracto accusamus. Inermis tibique mel ne. Decore everti viderer
                per cu. Porro ludus soleat sea at, eum eu ridens ponderum. Ad mea omittam mediocrem
                tincidunt. Quo inani possim senserit no, doctus intellegam ut quo.</p>
        </div>
</div>

