@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<link rel="stylesheet" href="~/Content/OrgStyle.css" type="text/css" />

<div class="row">
    <hr>
    <header>
        <!-- header -->
        <h1>
            <a>Pintureria Picasso</a>
        </h1>
        <h2>
            Su Solucion en Colores
        </h2>
        <hr>
    </header><!-- end of header -->
    <div class="clearall">
    </div>
    <section id="main">
        <!-- #main content -->
        <article id="greeting">
            <img src="/images/empresa.jpg" alt="" class="alignleft" height="200" width="200"><h2>
                Ayudando a Dar Vida a Tus Colores</h2>
            <p>
  <i>
                Todo comenzó en 1979, cuando Juan, el mayor de tres hermanos, decidió apartarse
                de la tradición familiar y abandonó el negocio de confección y venta de ropa de
                cuero que llevaba su padre. Poco tiempo después, junto con sus hermanos Arturo y
                Daniel, hizo crecer el sueño de un emprendimiento diferente… En el proyecto fue
                invalorable la ayuda familiar: el apoyo incondicional, la experiencia comercial
                y la confianza sustentaron Pinturerías Picasso, una idea que no dejó de crecer en
                ningún momento.<a href="#">Duis sagittis ipsum</a>. Ei est delicata philosophia,
                quo id evertitur temporibus. Et ullum pertinax pri, elit regione ei mel, eam at
                mutat lorem. Ad mea omittam mediocrem tincidunt. Quo inani possim senserit no, doctus
    intellegam ut quo.</i></p>
        </article>
        <div class="clearall">
        </div>
        <section id="infoboxes">
            <article id="infoboxleft">
                <h3>
                    Quienes Somos</h3>
                <p>
                    <strong>Pintureria Picasso</strong> <i>exhibe con orgullo una cualidad que solamente
                    los años de la mejor respuesta a las necesidades de los usuarios pueden otorgar:
  ser un verdadero sinónimo de la mejor pintura.</i></p>
                <p><i>
                    Prestigio en marcas, liderazgo en los principales segmentos del mercado, actitud
                    innovadora, tecnología internacional, fuerza de ventas y distribución en todo el
                    país y un servicio altamente capacitado, son algunas de las claves que convierten
  a PICASSO en la empresa de pinturas más completa y moderna de la Argentina.</i></p>
            </article>
            <article id="infoboxmid">
                <h3>
                    Como podemos Ayudarlo</h3>
                <p>
                    <img src="/images/bote pintura.png" alt="" class="alignleft" height="40" width="40">
                    <strong><a href="#">Asistencia Personalizada</a></strong><br><i>
                    Nuestro equipo de personal siempre esta dispuesto a darle una mirada unica de sus
                    necesidades y darle la mejor solucion dentro de nuestra paleta de colores
</i></p>
                <p>
                    <img src="/images/bote pintura2.png" alt="" class="alignleft" height="40" width="40">
                    <strong><a href="">Calidad en Productos</a></strong><br><i>
                    Nuestros productos provienen de una de las mas renombradas marcas como es Tersuave,
                    dando garantia de que su proyecto, obra, o manualidad, sin importar la escala, sea
  destacado con un acabado superior.</i>
</p>
                <p>
                    <img src="/images/bote pintura3.png" alt="" class="alignleft" height="40" width="40">
                    <strong><a href="#">Siempre la Mejor Respuesta</a></strong><br><i>
  A cualquier requerimiento, sin descuidar nunca la relación precio-calidad.</i>
</p>
            </article>
            <article id="infoboxright">
                <h3>
                    Opiniones de la Gente</h3>
                <blockquote>
                    <p>
                        Sit id utroque antiopam aliquando, mazim fierent ex usu, at est latine aliquam incorrupte.
                        Fugit utamur verterem ei vim. Utinam efficiendi at eam.
                        <br>
                        <b>John Doe - ABC Company</b></p>
                </blockquote>
                <blockquote>
                    <p>
                        Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                        magnam aliquam.
                        <br>
                        <b>Jane Doe - CEO, XYZ Inc.</b></p>
                </blockquote>
            </article>
        </section>
        <article id="contentsummary">
            <h3>
                Venga a Nuestros Locales para Ver la Diferencia</h3>
            <p>
                Vero tractatos vix in, vel eligendi ocurreret ei. Ea vis scripta voluptatum concludaturque,
                vis id omnis mollis moderatius. Ius ei volumus detracto accusamus. Inermis tibique
                mel ne. Decore everti viderer per cu. Porro ludus soleat sea at, eum eu ridens ponderum.
                Ad mea omittam mediocrem tincidunt. Quo inani possim senserit no, doctus intellegam
                ut quo.</p>
            <p>
                Ius ei volumus detracto accusamus. Inermis tibique mel ne. Decore everti viderer
                per cu. Porro ludus soleat sea at, eum eu ridens ponderum. Ad mea omittam mediocrem
                tincidunt. Quo inani possim senserit no, doctus intellegam ut quo.</p>
        </article>
    </section><!-- end of #main content -->
</div>
