<!-- rsanch: Slider Principal -->
<div class="large-12 columns">
    @Html.Partial("Slider")
</div>
<!-- rsanch: Simulador y Promos abajo del slider -->
<div class="row">
    <div class="large-4 columns">
        @Html.Partial("Simulador")
    </div>
    <div class="large-8 columns">
        @Html.Partial("SliderPromos")
    </div>
</div>
<!-- rsanch: Fila de abajo antes del footer -->
<div class="row">
    <div class="large-12 columns">
    </div>
</div>
