@Html.ActionLink("Administrador", "Administrador", "Home")   
                       
                        <div class="row">
                            <div class="large-12 columns">
                                <section id="infoboxes">            
                                    <article id="infoboxmid">
                                        <h3>
                                            <img src="../../Images/Slider/gotas_picasso.png" class="alignleft" height="30" width="30" /> 
                                            <span class="titulosInfoPagina">COMO PODEMOS AYUDARLO</span>
                                        </h3>
                                        <p>
                                            <img src="/images/bote pintura.png" alt="" class="alignleft" height="40" width="40">
                                            <span class="subtitulosDetalleProductos">Asistencia Personalizada</span> 
                                            <br><i>
                                            Nuestro equipo de personal siempre esta dispuesto a darle una mirada unica de sus
                                            necesidades y darle la mejor solucion dentro de nuestra paleta de colores
                                            </i>
                                        </p>
                                        <p>
                                            <img src="/images/bote pintura2.png" alt="" class="alignleft" height="40" width="40">
                                            <span class="subtitulosDetalleProductos">Calidad En Productos</span> 
                                            <br><i>
                                            Nuestros productos provienen de una de las mas renombradas marcas como es Tersuave,
                                            dando garantia de que su proyecto, obra, o manualidad, sin importar la escala, sea
                                            destacado con un acabado superior.</i>
                                        </p>
                                        <p>
                                            <img src="/images/bote pintura3.png" alt="" class="alignleft" height="40" width="40">
                                            <span class="subtitulosDetalleProductos">Simepre La Mejor Respuesta</span> 
                                            <br><i>
                                            A cualquier requerimiento, sin descuidar nunca la relación precio-calidad.</i>
                                        </p>
                                    </article>
                                </section>
                </div>
            </div>