

<div class="sliderPromos" id="promos" >
<!--fpaz: dentro de este div se van a traer los datos del mapa del json de promociones de bancos -->       
</div>

<link href="@Url.Content("~/Content/Slider/jquery.bxslider.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Slider/jquery.bxslider.js")"></script>


<script type="text/javascript">

    // fpaz: script que me recibe los datos del controlador y los muestra en los tags img y <p> de la barrita de promociones
    $.getJSON('@Url.Content("~/Home/jsonPromo")', function (data) {
            $.each(data, function (i, marker) {
                $("#promos").append("<img src='" + marker.imagen + "'\/> </img> <p>'" + marker.descripcion + "'</p> <a href='~/PromoBanco/Details/" + marker.id + "' >Detalles</a>")                        
            });
        });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.sliderPromos').bxSlider({
            auto: true,
            mode: 'vertical',
            slideWidth: 300,
            slideHeigth:200,
            minSlides: 2,
            slideMargin: 10
        });
    });
</script>



