@model IEnumerable<PicassoWeb.Models.Slider>
<!--iafar: comienza el cuerpo de Slider -->
<div class="large-10 large-centered columns">
    <div class="orbit-container" data-orbit>
        <!-- Content Slider -->
        @foreach (var item in Model) {
            if (item.Activo) { 
            <img src='@item.Url' class='foto'  alt="@item.Id" />
            }
        }
    </div>
</div>
