@{
    ViewBag.Title = "Venta Empresas";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<div class="row" style="padding: 20px 0 0 0;">
<div id="content">

          <!-- Inicio de contenido editable-->
          <!-- InstanceBeginEditable name="Contenido Editable" -->
          <div class="page-title">
          <a class="path" href="/Home/Empresa">Empresa</a> </div>
          <div class="text-area">
            
            <table width="615" border="0" cellspacing="5">
              <tbody><tr>
                <td colspan="3"><img src="http://www.prestigioweb.com/IMG/VentaEmpresasnew.jpg" alt="" width="615" height="148"></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">¿Quienes somos?</td>
              </tr>
              <tr>
                <td colspan="3">Prestigio es la mayor cadena independiente de pintura de la Argentina. Contamos con 43 años de trayectoria en el mercado y más de 70 sucursales ubicadas en CABA, GBA, Mendoza, Misiones, Río Grande y Uruguay.</td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">Venta Empresas</td>
              </tr>
              <tr>
                <td colspan="3">Prestigio ha desarrollado un servicio especial para facilitar la gestión integral de productos del sector destinados a satisfacer los diferentes requerimientos de Grandes y Medianas Empresas.<br>
A través de su Departamento de Venta a Empresas, Prestigio brinda asesoramiento personalizado y múltiples beneficios a este segmento de mercado, conformado por empresas de todo tipo que tengan una necesidad de pintura recurrente: Grandes Constructoras, Aplicadores de Pintura, Estudios de Arquitectura, Industrias y Cadenas de Retail, entre otras. <br>
Nuestra meta es construir relaciones duraderas con nuestros clientes  a través de la credibilidad, la respuesta ágil, la confianza y el servicio de valor. Toda nuestra atención esta puesta sobre el cliente y sus necesidades. Nuestro fin es resolver sus problemas a través de una fuerza de ventas especializada y altamente capacitada, donde cada vendedor es asignado a cada cliente según su actividad, logrando un mayor grado de conocimiento de sus negocios y procesos operativos. </td>
              </tr>
              <tr>
                <td colspan="3"><img src="http://www.prestigioweb.com/IMG/VentaEmpresasnew2.jpg" width="615" height="129" alt="venta-empresas-2"></td>
              </tr>
              <tr>
                <td height="5" colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">Los servicios que ofrecemos</td>
              </tr>
              <tr>
                <td width="315" colspan="2"><ul>
                  <li>Vendedores especializados.</li>
                  <li>Posibilidad de realizar los pedidos via telefono, e-mail o fax.<br>
                    </li>
                  <li>Asesoramiento, visita y entrega de muestras en Obra.<br>
                    </li>
                  <li>Asesoramiento de tendencias de color.<br>
                    </li>
                  <li>Coordinación de envíos a todo el país.<br>
                    </li>
                  <li>Entregas en 24 hs.Envios sin cargo (para compras superiores a $900) en<br>
                    Capital, GBA, La Plata y Mendoza. <br>
                  </li>
                </ul></td>
                <td width="293"><ul>
                  <li>La más amplia variedad.<br>
                    </li>
                  <li>Disponibilidad de todas las marcas del mercado.<br>
                    </li>
                  <li>Los precios más competitivos del mercado.<br>
                    </li>
                  <li>Múltiples opciones de pago.<br>
                    </li>
                  <li>Servicio Técnico gratuito.<br>
                    </li>
                  <li>Posibilidad de realizar acopios.<br>
                    </li>
                  <li>Guarda sin costo hasta 12 meses.</li>
                </ul></td>
              </tr>
              <tr>
                <td colspan="3"><span class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></span></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">Pinturas</td>
              </tr>
              <tr>
                <td colspan="2"><ul>
                  <li>Látex para Interiores Premium, clásico y profesional obra.<br>
                    </li>
                  <li>Látex antihongo para cielorrasos.<br>
                    </li>
                  <li>Látex acrílico para exteriores.<br>
                    </li>
                  <li>Impermeabilizantes para frentes.<br>
                    </li>
                  <li>Impermeabilizantes para techos fibrados y sin fibras.</li>
                </ul></td>
                <td><ul>
                  <li>Protectores para ladrillos sintéticos, acrílicos y siliconados.<br>
                    </li>
                  <li>Pinturas para pisos acrílicas, sintéticas y Epoxi.<br>
                    </li>
                  <li>Curadores y ceras para pisos.<br>
                    </li>
                  <li>Demarcación para pisos en caucho clorado.<br>
                    </li>
                  <li>Pintura piletas de natación acrílicas y base caucho.</li>
                </ul></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">Pinturas Especiales</td>
              </tr>
              <tr>
                <td colspan="2"><ul>
                  <li>Protectores para ladrillos sintéticos, acrílicos y siliconados.<br>
                    </li>
                  <li>Pinturas para pisos acrílicas, sintéticas y Epoxi.<br>
                    </li>
                  <li>Curadores y ceras para pisos.</li>
                </ul></td>
                <td><ul>
                  <li>Demarcación para pisos en caucho clorado.<br>
  </li>
                  <li> Pintura piletas de natación acrílicas y base caucho.<br>
                    </li>
                  <li>Lacas poliuretánicas para pisos.</li>
                </ul></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="2" class="titulares-venta-empresa">Tratamiento de superficies</td>
                <td class="titulares-venta-empresa">Pinturas e impregnantes para madera</td>
              </tr>
              <tr>
                <td colspan="2"><ul>
                  <li>Antióxidos y convertidores de óxido.<br>
                    </li>
                  <li>Fijadores selladores al agua, al aguarrás.</li>
                  <li>Sellador a base de goma laca.<br>
                    </li>
                  <li>Enduídos para interior y exterior.</li>
                </ul></td>
                <td><ul>
                  <li>Preservante insecticida para maderas.</li>
                  <li>Fondo blanco para maderas.</li>
                  <li>Barnices brillante, satinado y mate.</li>
                  <li>Barnices marinos de larga durabilidad.</li>
                  <li>Impregnantes protectores para madera.</li>
                  <li>Impregnantes para decks.<br>
                    </li>
                  <li>Tinta color para maderas.</li>
                </ul></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="2" class="titulares-venta-empresa">Accesorios</td>
                <td class="titulares-venta-empresa">Diluyentes</td>
              </tr>
              <tr>
                <td><ul>
                  <li>Pinceles<br>
                    </li>
                  <li>Rodillos<br>
                    </li>
                  <li>Lijas<br>
                    </li>
                  <li>Cartón </li>
                  <li>corrugado<br>
                    </li>
                  <li>Estopa</li>
                </ul></td>
                <td><ul>
                  <li>Guantes<br>
                    </li>
                  <li>Virutas<br>
                    </li>
                  <li>Calzado de seguridad</li>
                  <li>Ropa de trabajo<br>
                    </li>
                  <li>Máscaras</li>
                </ul></td>
                <td><ul>
                  <li>Aguarrás.<br>
                    </li>
                  <li>Thinner.<br>
                    </li>
                  <li>Diluyente para cauchos, Epoxis y poliuretanos.</li>
                  <li>Diluyentes especiales a pedido para usos específicos.</li>
                </ul></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><img src="http://www.prestigioweb.com/IMG/linea_horiz_long.jpg" width="615" height="1" alt="linea"></td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa"><span class="recently-viewed-products"><span class="titular-chico">Para mayor información Ud. puede comunicarse con uno<br>
                de nuestros asesores de Venta Empresas:</span></span></td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" class="titulares-venta-empresa">E-mail: ventaempresa@prestigioweb.com<br>
                  Teléfono: 011 4779-8090<br>
                Lunes a Viernes: 8.00 a 18.00 hs.</td>
              </tr>
            </tbody></table>
            <p>&nbsp;</p>
          </div>
<div class="text-area">
            
            <p>&nbsp;</p>
          </div>
          <!-- InstanceEndEditable -->
          <!-- Fin contenido editable-->
        </div>
</div>